aiogram==3.22.0
aiohttp==3.10.10
aiofiles==24.1.0
aiodns==3.5.0
asyncio==4.0.0
cachetools==6.2.1
ccxtpro==4.2.91
charset-normalizer==3.3.2
cryptography==46.0.3
eventlet==0.40.3
Flask==3.0.3
gunicorn==23.0.0
joblib==1.5.2
lightgbm==4.6.0
mplfinance==0.12.10b0
numba==0.61.2
numpy==2.2.0
orjson==3.11.4
pandas==2.2.3
pandas-ta==0.4.71b0
psutil==7.1.2
pydantic==2.11.10
pytelegrambotapi==4.29.1
requests==2.32.3
tqdm==4.67.1
ujson==5.11.0
websocket-client==1.9.0
websockets==15.0.1